:root {
  --pink: #fbcfee;
  --magenta: #e23372;
  --dark-magenta: #a82355;
  --purple: #9882ce;
  --teal: #5F7DA6;
}

/* fonts Shrikhand and Lazydog */
@font-face {
  font-family: LazyDog;
  src: url("./media/Lazydog.otf");
}

body {
  background-color: var(--pink);
}

.main {
  /* background-color: var(--pink); */
  width: 80vw;
  margin: auto;
  text-align: center;
  /* padding-top: 0px; */
}

.logo {
  width: 400px;
  /* border: 2px solid black; */
  /* object-fit: cover; */
}

.info {
  /* border: 2px solid black; */
  width: 450px;
  margin: auto;
  font-family: LazyDog;
}

.info .next-show{
    color: var(--dark-magenta);
}

.info .next-show span {
    font-family: "Shrikhand", serif;
    color: var(--teal)
}

.info :not(.next-show, .next-show span){
    /* text-transform: uppercase; */
    color: var(--purple);
    font-size: 12px;
    padding-top: 10px;
}


.inventory {
  text-align: left;
  padding: 20px;
  max-width: 850px;
  margin: auto;
}

.inventory h1 {
    text-align: center;
    font-family: "Shrikhand", serif;
    letter-spacing: 3px;
    font-size: 40px;
    color: var(--magenta);
    text-shadow: 2px 3px var(--dark-magenta);
}

.inventory .IP > div {
  padding-left: 20px;
}

.inventory .IP .full-set {
  /* text-align: center; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* set wrap settings so that mobile shows 2 rows of 3 items each*/
}

.each-item {
  /* border: 2px solid ; */
  width: fit-content;
  text-align: center;
}
.each-item img {
    max-width: 100px;
}

/* .labubu-title{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
} */

.inventory h2, .inventory h3 {
    font-family: 'Shrikhand', serif;
    letter-spacing: 1px;
    /* color: var(--magenta); */
}

.collapsible {
  background-color: var(--purple);
  color: var(--pink);
  text-transform: uppercase;
  /* color: red; */
  /* color: #444; */
  cursor: pointer;
  padding-left: 18px;
  margin-bottom: 0px;
  /* margin-top: 0px; */
  /* width: 100%; */
  /* float: right; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 2rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  /* background-color: #cc */
  cursor: pointer;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /* padding: 0 18px; */
  /* display: none; */
  overflow: hidden;
  background-color: #f1f1f1;

  padding-bottom: 20px;
  /* transition: max-height 0.2s ease-out; */
}

.inventory h3 {
    font-size: 1.3rem;
    color: var(--magenta);
}

.inventory .each-item {
    font-family: LazyDog;
    font-size: 1rem;
    color: var(--teal);
    max-width: 100px;
}

.inventory .each-item .quantity {
    font-size: .7rem;
}

.inventory .monsters .the_monsters.content .each-item{
    max-width: unset;
}

.contact-us {
  /* border: 2px solid black; */
  padding: 20px;
  width: 450px;
  margin: auto;
}
.contact-title {
  font-size: 20px;
}
.contact-form {
  border: 2px solid black;
  width: 400px;
  margin: 20px auto;
  height: 400px;
}
.social-icons {
  /* background-color:red; */
  display: flex;
  justify-content: flex-end;
}
.social-icons img {
  margin-left: 20px;
  /* display: inline-block; */
  /* text-align: right; */
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

footer {
  text-align: center;
  padding-top: 5px;
}

/* items should be 3 by 3 once too small to be 6 in a row */
