:root {
  --pink: #fbcfee;
  --magenta: #e23372;
  --dark-magenta: #a82355;
  --purple: #9882ce;
  --teal: #5F7DA6;
}

/* fonts Shrikhand and Lazydog */
@font-face {
  font-family: LazyDog;
  src: url("./media/Lazydog.otf");
}

body {
  background-color: var(--pink);
}

.main {
  /* background-color: var(--pink); */
  width: 80vw;
  margin: auto;
  text-align: center;
  /* padding-top: 0px; */
}

.logo {
  width: 400px;
  /* border: 2px solid black; */
  /* object-fit: cover; */
}

.info {
  /* border: 2px solid black; */
  width: 500px;
  margin: auto;
  font-family: LazyDog;
}

.info .next-show{
    color: var(--dark-magenta);
}

.info .next-show span {
    font-family: "Shrikhand", serif;
    color: var(--teal);
    font-size: 1.3rem;
}

.info :not(.next-show, .next-show span){
    /* text-transform: uppercase; */
    color: var(--purple);
    /* font-size: 12px; */
    font-size: 1rem;
    padding-top: 10px;
}


.inventory {
  text-align: left;
  padding: 20px;
  max-width: 850px;
  margin: auto;
}

.inventory h1 {
    text-align: center;
    font-family: "Shrikhand", serif;
    letter-spacing: 3px;
    font-size: 40px;
    color: var(--magenta);
    /* text-shadow: 2px 3px var(--dark-magenta); */
}

.inventory .IP > div {
  padding-left: 20px;
}

.inventory .IP .full-set {
  /* text-align: center; */
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* set wrap settings so that mobile shows 2 rows of 3 items each*/
}

.each-item {
  /* border: 2px solid ; */
  width: fit-content;
  text-align: center;
}
.each-item img {
    max-width: 100px;
}

/* .labubu-title{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
} */

.inventory h2, .inventory h3, .contact-us .contact-title {
    font-family: 'Shrikhand', serif;
    letter-spacing: 1px;
    /* color: var(--magenta); */
}

.collapsible {
  background-color: var(--purple);
  color: var(--pink);
  text-transform: uppercase;
  /* color: red; */
  /* color: #444; */
  cursor: pointer;
  padding-left: 18px;
  margin-bottom: 0px;
  /* margin-top: 0px; */
  /* width: 100%; */
  /* float: right; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 2rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  /* background-color: #cc */
  cursor: pointer;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  /* padding: 0 18px; */
  /* display: none; */
  overflow: hidden;
  background-color: #f1f1f1;

  padding-bottom: 20px;
  /* transition: max-height 0.2s ease-out; */
}

.inventory h3 {
    font-size: 1.3rem;
    color: var(--magenta);
}

.inventory .each-item {
    font-family: LazyDog;
    font-size: 1rem;
    color: var(--teal);
    max-width: 100px;
}

.inventory .each-item .quantity {
    font-size: .7rem;
}

.inventory .monsters .the_monsters.content .each-item{
    max-width: unset;
}

.contact-us {
  /* border: 2px solid black; */
  padding: 20px;
  width: 450px;
  margin: auto;
  text-align: center;
  font-family: LazyDog;
  color: var(--teal);
}
.contact-title {
  /* font-size: 20px; */
  color: var(--magenta);
  /* text-shadow: 2px 1px var(--dark-magenta); */
  text-align: center;
}
.contact-form {
  border: 2px solid var(--teal);
  width: 400px;
  margin: 20px auto;
  height: 400px;
  color: var(--purple);
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 20px;
}
/* .contact-form p:nth-child(1), .contact-form p:nth-child(2) */
.contact-form p {
    /* display: flex; */
    width: 100%;
    text-align: left;
    font-size: 1rem;
    /* justify-content: space-between; */
    /* flex-direction: row; */
    /* flex-grow: 2; */
    /* border: 2px solid black; */
    /* width: 200px; */
}
.contact-form p input, .contact-form p textarea {
    width: 70%;
    float: right;
    border: 2px solid var(--teal);
    background-color: var(--pink);
    color: var(--teal);
}
.contact-form p textarea {
    /* width: unset; */
    /* max-width: 100%; */
    width: 98%;
    margin-top: 10px;
    resize: none;
    /* margin: 10px 0px 10px 10px; */
    /* margin-left: 60px; */
    /* float: right; */

}
.contact-form p button {
    /* text-align: right; */
    float: right;
    background-color: var(--pink);
    padding: 5px 10px;
    /* border-radius: 15px; */
    font-family: LazyDog;
    font-size: 1rem;
    color: var(--teal);
    font-weight: 600;
    border: 2px solid var(--teal);
}
.contact-form p button:hover{
    cursor: pointer;
}
.social-icons {
  /* background-color:red; */
  display: flex;
  justify-content: flex-end;
}
.social-icons a {
    text-decoration: none;
    color: var(--magenta);
}
.social-icons i {
  margin-left: 20px;
    font-size: 30px;
}


#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  background-color: var(--magenta); 
  color: var(--pink);
  opacity: 60%;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 1rem;
}

#myBtn:hover {
  opacity: 100%;
}


footer {
    font-family: LazyDog;
    /* font-family: "Shrikhand", serif; */
    letter-spacing: 1px;
  text-align: center;
  padding: 20px;
  color: var(--teal);
}
footer a{
    color: var(--purple);
    text-decoration: none;
}

/* items should be 3 by 3 once too small to be 6 in a row */
