:root {
  --pink: #fbcfee;
  --magenta: #e23372;
  --dark-magenta: #a82355;
  --purple: #9882ce;
  --teal: #5F7DA6;
}

@font-face {
  font-family: LazyDog;
  src: url("./media/Lazydog.otf");
}

body {
  background-color: var(--pink);
}

.main {
  width: 80vw;
  margin: auto;
  text-align: center;
}

.logo {
  width: 400px;
}

.info {
  max-width: 500px;
  margin: auto;
  font-family: LazyDog;
}

.info .next-show{
    color: var(--dark-magenta);
}

.info .next-show span {
    font-family: "Shrikhand", serif;
    color: var(--teal);
    font-size: 1.3rem;
}

.info :not(.next-show, .next-show span){
    color: var(--purple);
    font-size: 1rem;
    padding-top: 10px;
}


.inventory {
  text-align: left;
  padding: 20px;
  max-width: 850px;
  margin: auto;
}

.inventory h1 {
    text-align: center;
    font-family: "Shrikhand", serif;
    color: var(--magenta);
}

.inventory .IP > div {
  padding-left: 20px;
}

.inventory .IP .full-set {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.each-item {
  width: fit-content;
  text-align: center;
}
.each-item img {
    max-width: 100px;
}


.inventory h2, .inventory h3, .contact-us .contact-title {
    font-family: 'Shrikhand', serif;
    letter-spacing: 1px;
}

.collapsible {
  background-color: var(--purple);
  color: var(--pink);
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 18px;
  margin-bottom: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2rem;
}

.active,
.collapsible:hover {
  cursor: pointer;
}

.content {
  overflow: hidden;
  background-color: #f1f1f1;
  padding-bottom: 20px;
}

.inventory h3 {
    font-size: 1.3rem;
    color: var(--magenta);
}

.inventory .each-item {
    font-family: LazyDog;
    font-size: 1rem;
    color: var(--teal);
    max-width: 100px;
}

.inventory .each-item .quantity {
    font-size: .7rem;
}

.inventory .monsters .the_monsters.content .each-item{
    max-width: unset;
}

.contact-us {
  padding: 20px;
  max-width: 450px;
  margin: auto;
  text-align: center;
  font-family: LazyDog;
  color: var(--teal);
}
.contact-title {
  color: var(--magenta);
  text-align: center;
}
.contact-form {
  border: 2px solid var(--teal);
  max-width: 400px;
  margin: 20px auto;
  color: var(--purple);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 20px;
}
.contact-form p {
    width: 100%;
    text-align: left;
    font-size: 1rem;
}
.contact-form p input, .contact-form p textarea {
    width: 70%;
    float: right;
    border: 2px solid var(--teal);
    background-color: var(--pink);
    color: var(--teal);
}
.contact-form p textarea {
    width: 98%;
    margin-top: 10px;
    resize: none;

}
.contact-form p button {
    float: right;
    background-color: var(--pink);
    padding: 5px 10px;
    font-family: LazyDog;
    font-size: 1rem;
    color: var(--teal);
    font-weight: 600;
    border: 2px solid var(--teal);
}
.contact-form p button:hover{
    cursor: pointer;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
}
.social-icons a {
    text-decoration: none;
    color: var(--magenta);
}
.social-icons i {
  margin-left: 20px;
    font-size: 30px;
}


#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  background-color: var(--magenta); 
  color: var(--pink);
  opacity: 60%;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 1rem;
}

#myBtn:hover {
  opacity: 100%;
}


footer {
    font-family: LazyDog;
    letter-spacing: 1px;
  text-align: center;
  padding: 20px;
  color: var(--teal);
}
footer a{
    color: var(--purple);
    text-decoration: none;
}




@media screen and (max-width: 450px) {
    .main {
        width: 100%;
    }
    .each-item img {
        max-width: 90px;
    }
    .contact-us .contact-form p label {
        font-size: .9rem;
    }
}